@import 'reset.tailwind.css';
@import 'typography.css';
@import 'global.css';
@import 'components.css';
@import 'primevue.overwrite.css';
@import 'effects.css';

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
/* Rest of your code */
