*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: var(--un-default-border-color, #e5e7eb); /* 2 */
}
body,
html {
  @apply bg-light-50 text-light-900 dark:text-light-100 h-full dark:bg-slate-800;
}
html[lang='ar'] {
  direction: rtl;
}
html[lang='en'] {
  direction: ltr;
}
.main_container {
  @apply flex h-full flex-col;
}
.main_content {
  flex: 1 0 auto;
}
.sticky_footer {
  @apply flex-shrink-0;
}
.prose :where(pre, code):not(:where(.not-prose, .not-prose *)) {
  @apply bg-dark-600;
}
.untouchable {
  pointer-events: none;
  user-select: none;
  touch-action: none;
}

.lottie_svg path[fill] {
  fill: currentColor !important;
}
.lottie_svg path[stroke] {
  stroke: currentColor !important;
}
.icon-color {
  color: var(--p-primary-color, currentColor);
}
.dm-field label {
  cursor: pointer;
}
.gradient-title {
  background: linear-gradient(
    90deg,
    var(--p-primary-400) 25%,
    var(--p-green-300),
    var(--p-green-500)
  );
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 300%;
  -webkit-text-fill-color: transparent;
  animation: gradient 10s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}
