.p-chip {
  border-radius: $chipBorderRadius;
  padding: 0.25rem 0.75rem;

  .p-chip-text {
    margin-top: 0;
    margin-bottom: 0;
  }

  .p-chip-remove-icon {
    margin-left: 0.375rem;
  }

  &:has(.p-chip-remove-icon) {
    padding-right: 0.5rem;
  }

  img {
    margin-left: -0.5rem;
  }
}
