.p-overlaypanel {
  box-shadow: $inputOverlayShadow;

  .p-overlaypanel-content {
    padding: 0.75rem;
  }

  .p-overlaypanel-close {
    @include action-icon();
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
  }
}
